# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Vercel
.vercel/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers backup
*_backup.*
*.bak

# Logs
*.log

# IDE
.vscode/
.idea/

# Fichiers temporaires
structure.txt
test.html
